@inherits LayoutComponentBase

<PageTitle>ToDo</PageTitle>

<div class="wrapper">

<!-- Navbar -->
<nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom " style="z-index:1040 !important ">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link nav-color" data-widget="pushmenu" href="#"
               style="color: rgba(0, 0, 0, .5) !important">
                <i class="fa fa-bars"></i>
            </a>
        </li>
    </ul>

    <!-- Right navbar links -->

</nav>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="z-index: 999 !important;">
<!-- Brand Logo -->
<a href="" class="brand-link">
    <img src="/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light"></span>
</a>

<!-- Sidebar -->
<div class="sidebar" style="direction: ltr">
    <div style="direction: rtl">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/assetsCli/images/man.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info d-flex justify-content-between gap-3">
                <a class="d-block align-content-center">.Identity.Name</a>
                <a href="" class="d-block btn btn-danger">خروج</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fa fa-dashboard"></i>
                        <p>
                            پــنل
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="" class="nav-link ">
                                <i class="fa fa-database nav-icon"></i>
                                <p>داشبورد</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                                data-accordion="false">
                                <!-- Add icons to the links using the .nav-icon class
                                        with font-awesome or any other icon font library -->
                                <li class="nav-item has-treeview">
                                    <a class="nav-link " style="cursor: pointer">
                                        <i class="fa fa-barcode nav-icon"></i>
                                        <p>
                                            اطلاعات پایه
                                            <i class="right fa fa-angle-left"></i>
                                        </p>

                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="" class="nav-link ">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>برند</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link ">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>زیر گروه محصولات</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link ">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>دسته بندی</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link ">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>جزئیات دسته بندی</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link ">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>رنگ</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link ">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>شهر و استان</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link ">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>گارانتی</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href=""
                                               class="nav-link ">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>روش های ارسال</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                                data-accordion="false">
                                <!-- Add icons to the links using the .nav-icon class
                                        with font-awesome or any other icon font library -->
                                <li class="nav-item has-treeview">
                                    <a class="nav-link " style="cursor: pointer">
                                        <i class="fa fa-first-order nav-icon"></i>
                                        <p>
                                            سفارشات
                                            <i class="right fa fa-angle-left"></i>
                                        </p>

                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="" class="nav-link ">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>سفارش محصول</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link ">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>مرجوعی سفارش</p>
                                            </a>
                                        </li>

                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                                data-accordion="false">
                                <!-- Add icons to the links using the .nav-icon class
                                        with font-awesome or any other icon font library -->

                                <li class="nav-item has-treeview">
                                    <a class="nav-link " style="cursor: pointer">
                                        <i class="fa fa-money nav-icon"></i>
                                        <p>
                                            مالی
                                            <i class="right fa fa-angle-left"></i>
                                        </p>

                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="" class="nav-link ">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>فاکتور فروش</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link ">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>گزارش درآمد</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link ">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>کد تخفیف</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                                data-accordion="false">
                                <!-- Add icons to the links using the .nav-icon class
                                        with font-awesome or any other icon font library -->
                                <li class="nav-item has-treeview">
                                <a class="nav-link " style="cursor: pointer">
                                    <i class="fa fa-wpforms nav-icon"></i>
                                    <p>
                                        مدیریت محتوا
                                        <i class="right fa fa-angle-left"></i>
                                    </p>

                                </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>


            </ul>

        </nav>
        <!-- /.sidebar-menu -->
    </div>
</div>
<!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    @Body
</div>
<!-- /.content-wrapper -->
@* <footer class="main-footer"> *@
@*     <strong>CopyLeft &copy; 2018 <a href="http://github.com/hesammousavi/">حسام موسوی</a>.</strong> *@
@* </footer> *@

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>